In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from sklearn.preprocessing import StandardScaler

In [5]:
scaler = StandardScaler()

In [6]:
scaler

StandardScaler()

In [8]:
#print(scaler.fit(data))

In [4]:
datos = pd.DataFrame(data)
datos

NameError: name 'data' is not defined

In [10]:
datos.describe()

             0        1
count  4.00000  4.00000
mean   0.50000  0.50000
std    0.57735  0.57735
min    0.00000  0.00000
25%    0.00000  0.00000
50%    0.50000  0.50000
75%    1.00000  1.00000
max    1.00000  1.00000

In [11]:
print(scaler.transform(data))

[[-1. -1.]
 [-1. -1.]
 [ 1.  1.]
 [ 1.  1.]]

In [12]:
datos

   0  1
0  0  0
1  0  0
2  1  1
3  1  1

In [ ]:

>>> data = [[0, 0], [0, 0], [1, 1], [1, 1]]
>>> scaler = StandardScaler()
>>> print(scaler.fit(data))
StandardScaler()
>>> print(scaler.mean_)
[0.5 0.5]
>>> print(scaler.transform(data))
[[-1. -1.]
 [-1. -1.]
 [ 1.  1.]
 [ 1.  1.]]
>>> print(scaler.transform([[2, 2]]))
[[3. 3.]]

In [9]:
data = [[1, 100], [2, 120], [5, 150], [7, 170] , [10, 200]]

In [10]:
data

[[1, 100], [2, 120], [5, 150], [7, 170], [10, 200]]

In [11]:
df = pd.DataFrame(data)
df

    0    1
0   1  100
1   2  120
2   5  150
3   7  170
4  10  200

In [12]:
escalador = StandardScaler()

In [14]:
escalador = escalador.fit(data)

In [37]:
print(escalador.transform(data))

[[-1.21716124 -1.35439836]
 [-0.91287093 -0.79006571]
 [ 0.          0.05643326]
 [ 0.60858062  0.62076591]
 [ 1.52145155  1.46726488]]

In [38]:
(2-5)/3.286

-0.9129640900791235

In [34]:
datos = pd.DataFrame(data)
datos

    0    1
0   1  100
1   2  120
2   5  150
3   7  170
4  10  200

In [36]:
np.sqrt((179/5)-(25))

3.2863353450309964

In [35]:
1*1+4+25+49+100

179

In [30]:
100*100+120*120+150*150+170*170+200*200

115800

In [31]:
np.sqrt((115800/4)-(5*148*148)/4)

39.6232255123179

In [32]:
np.sqrt((115800/5)-(148*148))

35.4400902933387

In [31]:
(1-5)/3.674235

-1.0886619935850592

In [26]:
datos.describe()

               0           1
count   5.000000    5.000000
mean    5.000000  148.000000
std     3.674235   39.623226
min     1.000000  100.000000
25%     2.000000  120.000000
50%     5.000000  150.000000
75%     7.000000  170.000000
max    10.000000  200.000000

In [27]:
np.sqrt(1256.0)

35.4400902933387

In [27]:
(11+5+9)/5

5.0

In [19]:
escalador.get_params()

{'copy': True, 'with_mean': True, 'with_std': True}

In [21]:
escalador.mean_

array([  5., 148.])

In [22]:
escalador.var_

array([  10.8, 1256. ])

In [39]:
3.286*3.286

10.797796

In [40]:
35.44*35.44

1255.9935999999998